@import url("https://fonts.googleapis.com/css2?family=Gravitas+One&family=Montserrat:wght@600&family=Playfair+Display:wght@600&display=swap");

.container,
#background {
  background-image: url(/src/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  margin: 0 auto;
  padding: 0 auto;
  margin-top: 6%;
  max-width: 750px;
  max-height: 650px;
  display: block;
}
.bottom-text {
  text-align: center;
  font-size: 10px;
  color: #68987f;
  padding-top: 10px;
  font-family: "Montserrat", sans-serif;
}
.bottom-text a {
  text-decoration: none;
  transition: all 200ms ease;
  color: #371560;
  font-family: "Montserrat", sans-serif;
}
.bottom-text a:hover {
  color: #e7c120;
}
.name a {
  font-size: 10px;
  color: #1e0b44;
  font-family: "Montserrat", sans-serif;
}
